body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0;
  margin: 0 auto;
  box-sizing:border-box;
  max-width: 1000px;  
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  padding: 6px;
  height: 260px;
  justify-content: space-between;
}

img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal {
  position: absolute;
  top: 10%;
  left: 40%;
  background: #85e01c;
  padding: 20px 35px;
  border-radius: 10px;
  border: 3px solid #67ad16;
}